@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #10b218;
  background-color: rgb(0, 0, 0);
}
.navbar {
  display: flex;
  width: 100%;
  padding: 20px 20px 0px 20px;
  padding-bottom: 0px;
  margin: 0 auto;
  border-bottom: 2px solid #e3e3e3;
  background-color: rgb(24, 24, 24);
}
.navbar h1 {
  font-size: 30px;
  text-align: center;
  margin-left: -19px;
  padding-bottom: 10px;
  padding: 10px 5px;
  color: #10b218;
  background-color: #dedede;
}
.navbar .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5vh;
  margin-bottom: 10px;
  background-color: rgb(24, 24, 24);
}
.navbar a {
  font-size: 17px;
  margin: 0 1vh;
  text-decoration: none;
  background-color: rgb(24, 24, 24);
}
.navbar a:hover {
  box-shadow: 1px 7px 5px rgb(20, 144, 45);
  color: #ffffff;
}
.content {
  max-width: 100%;
  margin: 30px 20px;
  padding: 20px 10px;
  height: 90vh;
}
.home {
  max-width: 630px;
}
.home h2 {
  margin-bottom: 15px;
  text-align: left;
}
.home-icon {
  margin: 10px;
  width: 40px;
}
.home-avatar {
  position:absolute;
  width: 60vh;
  bottom: 40px;
  left: 800px;
  display: inline;
}
.expac .un{
  margin-bottom: 50px;
  display: flex;
}
.expac .uf {
  margin-right: 50px;
}
.expac .logos {
  margin: 20px 0px;
  width: 100px;
}
.expac .logos-gthc {
  margin: 20px 0px;
  width: 105px;
}
.expac .logos-grub {
  margin: 20px 0px;
  width: 190px;
}
.expac p {
  font-size: 15px;
  margin: 10px 0px ;
}
.expac h2 {
  margin: 10px 0px;
}
.expac h3 {
  margin: 10px 0px;
}
.exppr h2 {
  margin: 20px 0px;
}
.exppr h3 {
  margin-bottom: 10px;
}
.exppr p {
  margin: 10px 0px;
}
.exhv p {
  margin: 10px 0px;
}
.exhv h2 {
  margin: 25px 0px;
}
.exhv .icon {
  margin-top: 20px;
  width: 50px;
}
.exhv .icon-volunt {
  width: 250px;
}
.projs h3{
  margin: 20px 0px;
}
.proj .block {
  display: flex;
}
.projs {
  margin-right: 150px;
  width: 500px;
}
.proj-icon {
  margin: 10px 0px;
  width: 400px;
}
.footer {
  display: flex;
  position: relative;
  top: 15vh;
  width: 100%;
  height: 100%;
  padding: 5vh 3vh;
  background-color: rgb(24, 24, 24);
}
.footer h3 {
  font-size: 20px;
  background-color: rgb(24, 24, 24);
}
.footer div {
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: 20vh;
}
.footer a {
  background-color: rgb(24, 24, 24);
}
.foot-icons {
  background-color: rgb(24, 24, 24);
  display: inline-block;
  width: 30px;
  margin: 20px 10px 0px 0px;
}
.footer p {
  margin-top: 10px;
  background-color: rgb(24, 24, 24);
  color: white;
  font-weight: 600;
}
@media (max-width: 900px) {
  .navbar {
    display: block;
  }
  .navbar h1 {
    font-size: 30px;
    text-align: center;
    margin-top: -20px;
    padding-bottom: 10px;
    color: #10b218;
    background-color: #dedede;
  }
  .content {
    height: auto;
  }
  .home {
    display: block;
  }
  .home-avatar {
    position: relative;
    display: block;
    width: 43vh;
    top: 10px;
    left: 0px;
  }
  .home-icon {
    margin: 10px;
  }
  .links {
    margin: 10px 0px ;
  }
  .expac .un{
    margin-bottom: 50px;
    display: block;
  }
  .proj .block {
    display: block;
  }
  .projs {
    width: auto;
  }
  .proj-icon {
    width: 300px;
  }
  .footer {
    display: block;
    text-align: center;
    height: auto;
  }
  .footer div {
    height: auto;
  }
}